<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="container">
                <h3>Upload Video : {{session.eventTitle}}</h3>
                <hr>
                {{#if messages}}
                    {{# each messages }}
                        <div class="alert alert-danger">
                            {{this.msg}}
                        </div>
                    {{/each}}
                {{/if}}
                <form method="post" action="/video/">
                    <div class="form-group col-lg-4">
                        <label for="formGroupExampleInput2">Add Video Link (Embedded Link)</label>
                        <textarea class="form-control" rows="3" name="videoLink" placeholder="https://www.youtube.com/embed/......"></textarea>
                    </div>
                    <input type="hidden" class="form-control" id="formGroupCsrf"  name="_csrf" value="{{csrfToken}}">
                    <div class="form-group col-xs-4">
                        &nbsp&nbsp&nbsp<button type="submit" class="btn btn-primary" name="submit" value="create" onclick="return confirm('Are You Sure ' +
                         'You want to Upload This Video..?');">Upload Now</button>
                        <a href="/video/publish" class="btn btn-danger"
                           onclick="return confirm('Are You Sure ' +
                         'You want to cancel this Process..?');">Cancel</a>
                    </div>
            </form>
            </div>
        </div>
    </div>
</section>


