<!--
    this file is "change password" page
-->

<form method="post" action="/profile/" onsubmit="return confirm('Are You Sure you Want To change your password?')" >

<center>
    <h3 class="heading-small">You are about to change your login password</h3>
<table>
<tr><td class="form-group">
    <label for="exampleInputEmail1">Current password</label></td><td>
    <input type="password" class="form-control"  placeholder="current password"  disabled>
</td></tr>

<tr><td class="form-group">
    <label for="exampleInputEmail1">New password</label></td><td>
    <input type="password" class="form-control"  placeholder="new password"  disabled>
</td></tr>

<tr><td class="form-group">
    <label for="exampleInputEmail1">Confirm new password</label></td><td>
    <input type="password" class="form-control"  placeholder="re-type new password"disabled>
</td></tr>

<tr><td class="form-group">
    <input type="submit" value="OK"class="btn btn-primary" /></td>
    <td></td>
    <td><a href="/" ><input type="button" value="Cancel" onclick="return confirm('Are You Sure you Want To change your password?')"></a></td>
    
</tr>

</table>

<!--testing output-->
{{ user.firstName }}
</center>

<!--button type="submit" class="btn btn-default">Submit</button-->
</form>