<section class="banner-sec">
    <div class="container">
        <div class="row">


            <div class=" col-md-9 col-lg-9 ">

                    <table class="table table-user-information" align="center">
                        <tbody>
                        <tr style="font-size: 130%">
                            <td>List</td>
                            <td>Amount</td>
                             <td>Donate</td>
                        </tr>
                        <h6>
                        <tr>
                            <td>Red Rice(1KG)</td>
                            <td>10</td>
                            <td><a href="/donation/addDonation">Add Donation</a></td>
                        </tr>
                        <tr>
                            <td>Dhal(1kG)</td>
                            <td>5</td>
                            <td><a href="/donation/addDonation">Add Donation</a></td>
                        </tr>
                        <tr>
                            <td>first Aid Kits</td>
                            <td>8</td>
                            <td><a href="/donation/addDonation">Add Donation</a></td>
                        </tr>
                        <tr>
                            <td>Water Bottles</td>
                            <td>20</td>
                            <td><a href="/donation/addDonation">Add Donation</a></td>
                        </tr>
                        <tr>
                            <td>Others
                                <br>
                                <br>(Click "Add Item" to add new item)</td>
                            <td>------</td>
                            <td><a href="/donation/addItem">Add Item</a></td>
                        </tr>

                        </tbody>
                    </table>
                </h6>
            </div>


        </div>
    </div>
</section>