<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card"> <img class="img-fluid" src="/images/DISASTER-1-640x229.jpg" alt="">
                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">New</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="/event2">Sri Lanka Southern Province has flood</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                    </div>
                </div>
                <div class="card"> <img class="img-fluid" src="/images/22maple5.jpg" alt="">
                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Old</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Sri lanka, anuradhapura facing worst Drought</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>2 months ago</em></small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card"> <img class="img-fluid" src="/images/image_1498680527-608d81d147.jpg" alt="">
                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Old</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Sri lanka, Mithotamulla Garbage dump collapse to houses</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>6 months ago</em></small></p>
                    </div>
                </div>
                <div class="card"> <img class="img-fluid" src="/images/a6s8a.jpg" alt="">
                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Old</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Sri lanka Colombo has facing a Storm</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>7 months ago</em></small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 top-slider">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="/images/2017SriLanka4474.jpg" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">Click Here To Mark Influence Areas</a></h2>
                                </div>
                                <div class="news-des">Urban areas (satellite-visible lights) are shown in dark gray.
                                    See also other SAR-based flood mapping...</div>
                                <div></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="/images/z_P11-washed-1.jpg" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">Click Here To Mark Influence Areas</a></h2>
                                </div>
                                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                <div></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="/images/565186-PDC_SriLanka_100yr_Flood_Zone_3_Day_Rainfall_19MAY16.png" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">Click Here To Mark Influence Areas</a></h2>
                                </div>
                                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



