<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/stylesheets/home.css" rel="stylesheet" >
<script src="/javascripts/background.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="small-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 date-sec">
                <div id="Date"></div>
            </div>
            <div class="col-lg-3 offset-lg-5">
                <div class="social-icon"> <a target="_blank" href="#" class=" fa fa-facebook"></a> <a target="_blank" href="#" class=" fa fa-twitter"></a> <a target="_blank" href="#" class=" fa fa-google-plus"></a> <a target="_blank" href="#" class=" fa fa-linkedin"></a> <a target="_blank" href="#" class=" fa fa-youtube"></a> <a target="_blank" href="#" class=" fa fa-vimeo-square"></a> </div>
            </div>
        </div>
    </div>
</div>
<div class="top-head left">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <h1>SAHANA<small>University of Colombo School of Computing</small></h1>
            </div>
            <div class="col-md-6 col-lg-3 ml-auto admin-bar hidden-sm-down">
                <nav class="nav nav-inline"> <a href="#" class="nav-link"><span class="ping"></span><i class="fa fa-envelope-o"></i></a> <a href="#" class="nav-link"><i class="fa fa-bell-o"></i></a> <a href="#" class="nav-link">Vihanga<img class="img-fluid rounded-circle" src="/images/vihanga.jpg"></a> </nav>
            </div>
        </div>
    </div>
</div>
</header>
<section class="top-nav">
    <nav class="navbar navbar-expand-lg py-0">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
                <ul class="nav navbar-nav ">
                    <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">News Feed</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Gallery</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Upload News</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Upload Photos</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Chat Box</a> </li>
                </ul>
                <form class="ml-auto">
                    <div class="search">
                        <input type="text" class="form-control" maxlength="64" placeholder="Search" />
                        <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</section>
<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card"> <img class="img-fluid" src="/images/DISASTER-1-640x229.jpg" alt="">
                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">New</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Sri Lanka Souther Province has flood</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                    </div>
                </div>
                <div class="card"> <img class="img-fluid" src="/images/22maple5.jpg" alt="">
                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Old</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Sri lanka, anuradhapura facing worst Drought</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>2 months ago</em></small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card"> <img class="img-fluid" src="/images/image_1498680527-608d81d147.jpg" alt="">
                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Old</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Sri lanka, Mithotamulla Garbage dump collapse to houses</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>6 months ago</em></small></p>
                    </div>
                </div>
                <div class="card"> <img class="img-fluid" src="/images/a6s8a.jpg" alt="">
                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Old</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Sri lanka Colombo has facing a Storm</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>7 months ago</em></small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 top-slider">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="/images/2017SriLanka4474.jpg" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">Click Here To Mark Influence Areas</a></h2>
                                </div>
                                <div class="news-des">Urban areas (satellite-visible lights) are shown in dark gray.
                                    See also other SAR-based flood mapping...</div>
                                <div></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="/images/z_P11-washed-1.jpg" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">Click Here To Mark Influence Areas</a></h2>
                                </div>
                                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                <div></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="/images/565186-PDC_SriLanka_100yr_Flood_Zone_3_Day_Rainfall_19MAY16.png" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">Click Here To Mark Influence Areas</a></h2>
                                </div>
                                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h3 class="heading-large">Recent News</h3>
                <div class="">
                    <div class="col-lg-6 card">
                        <div class="card"> <img class="img-fluid" src="/images/sri-lanka-flood.jpg" alt="">
                            <div class="card-body">
                                <div class="news-title"><a href="#">
                                    <h2 class=" title-small">Roads blocked due to flood in Galle</h2>
                                </a></div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 card">
                        <div class="card"> <img class="img-fluid" src="/images/sri-lanka-floods-759.jpg" alt="">
                            <div class="card-body">
                                <div class="news-title"><a href="#">
                                    <h2 class=" title-small">People are moving to safe places by using boats </h2>
                                </a></div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text"><small class="text-time"><em>8 mins ago</em></small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 card">
                        <div class="card"> <img class="img-fluid" src="/images/sri-lanka-reuters11.jpg" alt="">
                            <div class="card-body">
                                <div class="news-title"><a href="#">
                                    <h2 class=" title-small">People are moving to safe places</h2>
                                </a></div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text"><small class="text-time"><em>10 mins ago</em></small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 card">
                        <div class="card"> <img class="img-fluid" src="/images/580170-lanka-floods-reuters.jpg" alt="">
                            <div class="card-body">
                                <div class="news-title"><a href="#">
                                    <h2 class=" title-small">Sri lankan Southern Highway Entrance(Matara) Flooded</h2>
                                </a></div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text"><small class="text-time"><em>15 mins ago</em></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-lg-4 side-bar col-md-12">
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Latest</a> </li>
                </ul>

                <!-- Tab panes -->

                <div class="video-sec">
                    <h4 class="heading-small">YouTube Videos</h4>
                    <div class="video-block">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1fY6U0wS3ds" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="video-block">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n4H1Qj16Q40" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<section class="action-sec">
    <div class="container">
        <div class="action-box text-center"><h2>HELP EACH OTHER, BUILD SRI LANKA TOGETHER </h2>
            <p>&copy; 2018 SAHANA Disaster Management System, All Right Reserved. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>