<section class="section-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h3 class="heading-large">News Feed : Sri Lanka Souther Province has flood</h3>
                <div class="">
                    <div class="col-lg-6 card">
                        <div class="card"> <img class="img-fluid" src="/images/sri-lanka-flood.jpg" alt="">
                            <div class="card-body">
                                <div class="news-title"><a href="#">
                                    <h2 class=" title-small">Roads blocked due to flood in Galle</h2>
                                </a></div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 card">
                        <div class="card"> <img class="img-fluid" src="/images/sri-lanka-floods-759.jpg" alt="">
                            <div class="card-body">
                                <div class="news-title"><a href="#">
                                    <h2 class=" title-small">People are moving to safe places by using boats </h2>
                                </a></div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text"><small class="text-time"><em>8 mins ago</em></small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 card">
                        <div class="card"> <img class="img-fluid" src="/images/sri-lanka-reuters11.jpg" alt="">
                            <div class="card-body">
                                <div class="news-title"><a href="#">
                                    <h2 class=" title-small">People are moving to safe places</h2>
                                </a></div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text"><small class="text-time"><em>10 mins ago</em></small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 card">
                        <div class="card"> <img class="img-fluid" src="/images/580170-lanka-floods-reuters.jpg" alt="">
                            <div class="card-body">
                                <div class="news-title"><a href="#">
                                    <h2 class=" title-small">Sri lankan Southern Highway Entrance(Matara) Flooded</h2>
                                </a></div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text"><small class="text-time"><em>15 mins ago</em></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-lg-4 side-bar col-md-12">
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Latest</a> </li>
                </ul>

                <!-- Tab panes -->

                <div class="video-sec">
                    <h4 class="heading-small">YouTube Videos</h4>
                    <div class="video-block">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1fY6U0wS3ds" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="video-block">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n4H1Qj16Q40" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
       <li class="page-item active"><a style="background-color: #FD3A13 "class="page-link" href="/newsFeed/">1
            <span class="sr-only">(current)</span>
        </a></li>
        <li class="page-item ">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
    </nav>

</section>

