<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="container">
                <h1>Registration</h1>
                <hr>
                {{#if hasErrors}}
                    {{# each messages }}
                        <div class="alert alert-danger">
                            <p>{{this}}</p>
                        </div>
                    {{/each}}
                {{/if}}
                <hr>
                <form action="/users/signUp" method="post">
                    <div class="input-group col-lg-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">First Name</span>
                        </div>
                        <input type="text" class="form-control" id="formGroupFirstName" placeholder="First Name" name="firstName">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group col-lg-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Last Name</span>
                        </div>
                        <input type="text" class="form-control" id="formGroupLastName" placeholder="Last Name" name="lastName">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group col-lg-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">NIC</span>
                        </div>
                        <input type="number" class="form-control" id="formGroupNICNumber" placeholder="19/20XXXXXXXXX" name="nic">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">v</span>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group col-lg-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Password</span>
                        </div>
                        <input type="password" class="form-control" id="formGroupPassword" placeholder="Password" name="password">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group col-lg-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Password</span>
                        </div>
                        <input type="password" class="form-control" id="formGroupConfirmPassword" placeholder="Password" name="confirmPassword">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-repeat"></i></span>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group col-lg-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Mobile</span>
                        </div>
                        <input type="number" class="form-control" id="formGroupMobile" placeholder="07XXXXXXXX" name="mobile">
                        <div class="input-group-prepend">
                            <span class="fi-phone"></span>
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-mobile"></i></span>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group col-lg-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Tel-No</span>
                        </div>
                        <input type="number" class="form-control" id="formGroupTelePhone" placeholder="0XXXXXXXXX" name="phone">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group col-lg-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Gender</span>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="gender">
                            <option selected>Choose...</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-male"></i>/<i class="fa fa-female"></i></span>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group col-lg-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Role</span>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="role">
                            <option selected>Choose...</option>
                            <option value="Donor">Donor</option>
                            <option value="Volunteer">Volunteer</option>
                        </select>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-users"></i></span>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group col-lg-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Province</span>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="province">
                            <option selected>Choose...</option>
                            <option value="Central">Central</option>
                            <option value="Eastern">Eastern</option>
                            <option value="Northern">Northern</option>
                            <option value="North Central">North Central</option>
                            <option value="North Western">North Western</option>
                            <option value="Sabaragamuwa">Sabaragamuwa</option>
                            <option value="southern">Southern</option>
                            <option value="Uva">Uva</option>
                        </select>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-globe"></i></span>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group col-lg-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">District</span>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="district">
                            <option selected>Choose...</option>
                            <option value="Ampara">Ampara</option>
                            <option value="Anuradhapura">Anuradhapura</option>
                            <option value="Badulla">Badulla</option>
                            <option value="Batticaloa">Batticaloa</option>
                            <option value="Colombo">Colombo</option>
                            <option value="Galle">Galle</option>
                            <option value="Gampaha">Gampaha</option>
                            <option value="Hambantota">Hambantota</option>
                            <option value="Jaffna">Jaffna</option>
                            <option value="Kalutara">Kalutara</option>
                            <option value="Northern">Northern</option>
                            <option value="Kandy">Kandy</option>
                            <option value="Kegalle">Kegalle</option>
                            <option value="Kilinochchi">Kilinochchi</option>
                            <option value="Kurunegala">Kurunegala</option>
                            <option value="Mannar">Mannar</option>
                            <option value="Matale">Matale</option>
                            <option value="Matara">Matara</option>
                            <option value="Monaragala">Monaragala</option>
                            <option value="Mullaitivu">Mullaitivu</option>
                            <option value="NuwaraEliya">Nuwara Eliya</option>
                            <option value="Polonnaruwa">Polonnaruwa</option>
                            <option value="Puttalam">Puttalam</option>
                            <option value="Ratnapura">Ratnapura</option>
                            <option value="Trincomalee">Trincomalee</option>
                            <option value="Vavuniya">Vavuniya</option>
                        </select>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-globe"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-4">
                        <input type="hidden" class="form-control" id="formGroupCsrf"  name="_csrf" value="{{csrfToken}}">
                    </div>
                    <div class="form-group col-lg-4">
                        <input type="hidden" class="form-control" id="formGroupCsrf"  name="username" value="username">
                    </div>
                    <div class="form-group col-lg-4">
                        <input type="hidden" class="form-control" id="formGroupCsrf"  name="_password" value="password">
                    </div>
                    <div class="form-group col-xs-4">
                        <button type="submit" class="btn btn-primary" name="submit" value="create"
                                onclick="return confirm('Are You Sure ' +
                         'You Want To Register Your Profile..!');">Register</button>
                        <a class="btn btn-success" href="/users/signIn" role="button">Already have an account?</a>
                        <a href="/" class="btn btn-danger"
                           onclick="return confirm('Are You Sure ' +
                         'You want to cancel this Process..?');">Cancel</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>