<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="container">
                <h1>Login</h1>
                <hr>
                {{#if hasErrors}}
                    {{# each messages }}
                        <div class="alert alert-danger">
                            <p>{{this}}</p>
                        </div>
                    {{/each}}
                {{/if}}
                <hr>
                <form action="/users/signIn" method="post">
                    <div class="form-group col-lg-4">
                        <label for="formGroupNICNumber">NIC Number</label>
                        <input type="text" class="form-control" id="formGroupNICNumber" placeholder="19/20XXXXXXXXXv" name="nic">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="formGroupPassword">Password</label>
                        <input type="password" class="form-control" id="formGroupPassword" placeholder="Password" name="password">
                    </div>
                    <div class="form-group col-lg-4">
                        <input type="hidden" class="form-control" id="formGroupCsrf"  name="_csrf" value="{{csrfToken}}">
                    </div>
                        <input type="hidden" class="form-control" id="formGroupCsrf"  name="username" value="username">
                        <input type="hidden" class="form-control" id="formGroupCsrf"  name="_password" value="password">
                    <div class="form-group col-xs-4">
                        <button type="submit" class="btn btn-primary" name="submit" value="create">Login</button>
                        <a href="/" class="btn btn-danger"
                           onclick="return confirm('Are You Sure ' +
                         'You want to cancel this Process..?');">Cancel</a>
                    </div>
                </form>
                <a  data-toggle="modal" data-target="#myModal234567" class="forgot-password" href="#">
                    Forgot the password?
                </a>
                <a href="/users/signUp">
                       New around here? Sign up
                </a>
            </div>

        </div>
    </div>
</section>