<script type="text/javascript">
    function checkNIC(idnum){
        if(idnum.length!==11){
            alert("invalid NIC length");
            return false;
        }
        else{
            var numberslist = /^[0-9]+$/;
            if(!idnum.match(numberslist)){
                //if(true){
                alert("NIC should have only numbers");
                return false;
            }
            else{ //alert("k");
                if(idnum.substring(0,2)!=="19" && idnum.substring(0,2)!=="20"){
                    alert("NIC num should start with 19xxxxxxxxx or 20xxxxxxxxxxx only");
                    return false;
                }
                else{
                    //alert("X");
                    return true;
                } /***/
            }
        }
    }

    function validateSignup(){
        var nic= document.getElementById("formGroupNICNumber").value; //alert(nic);
        var tel= document.getElementById("formGroupTelePhone").value;
        var mob= document.getElementById("formGroupMobile").value;
		
		var tmpdata=document.getElementById("district");
        var district= tmpdata.options[tmpdata.selectedIndex].value; //alert(district);
		var tmpdata=document.getElementById("province");
        var province= tmpdata.options[tmpdata.selectedIndex].value;
        var numberslist = /^[0-9]+$/;

        if(checkNIC(nic)){
            if(tel.substring(0,1)==="0" && mob.substring(0,2)==="07" && tel.length===10 && mob.length===10){
                //alert("t2");
                if(tel.match(numberslist) && mob.match(numberslist)){
                    if(district=="choose" || province=="choose"){
						alert("please select your district and province");
						return false;
					}
					else{
						return true;
					}
                }
                else{
                    alert("Telephone/Mobile should contain only numbers");
                    return false;
                }
            }
            else{
                alert("Invalid telephone/mobile number");
                return false;
            }
        }
        else{
            //alert("F1");
            return false;
        }
    }
</script>

<section class="banner-sec">
    <div class="text-center">
        <h1>Registration</h1>
    </div>
    {{#if hasErrors}}
        <hr>
        {{# each messages }}
        <div class="text-center">
            <div class="alert alert-danger">
                <p>{{this}}</p>
            </div>
        </div>
        {{/each}}
    {{/if}}
    <hr>
    <form action="/users/signUp" method="post" onsubmit="return validateSignup()" >
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="text-center"><label for="formGroupNICNumber"><strong>NIC Number (v)</strong></label></div>
                    <input type="text" class="form-control" id="formGroupNICNumber" placeholder="19/20XXXXXXXXX" name="nic">
                </div>
                <div class="col-sm">
                    <div class="text-center"><label for="formGroupFirstName"><strong>First Name</strong></label></div>
                    <input type="text" class="form-control" id="formGroupFirstName" placeholder="First Name" name="firstName">
                </div>
                <div class="col-sm">
                    <div class="text-center"><label for="formGroupLastName"><strong>Last Name</strong></label></div>
                    <input type="text" class="form-control" id="formGroupLastName" placeholder="Last Name" name="lastName">
                </div>
                <div class="col-sm">
                    <div class="text-center"><label for="formGroupGender"><strong>Gender</strong></label></div>
                    <select class="form-control" id="inputGroupSelect01" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group col-lg-3">
                    <div class="text-center">
                        <label for="exampleInputProvince"><strong>Province</strong></label>
                    </div>
                    <select class="form-control" id="province" name="province">
                        <option value="choose" selected>Choose</option>
                        <option value="Central">Central</option>
                        <option value="Eastern">Eastern</option>
                        <option value="Northern">Northern</option>
                        <option value="North Central">North Central</option>
                        <option value="North Western">North Western</option>
                        <option value="Sabaragamuwa">Sabaragamuwa</option>
                        <option value="Southern">Southern</option>
                        <option value="Uva">Uva</option>
                    </select>
                </div>
                <div class="form-group col-lg-3">
                    <div class="text-center">
                        <label for="exampleInputDistrict"><strong>District</strong></label>
                    </div>
                    <select class="form-control" id="district" name="district">
                        <option value="choose" selected>Choose</option>
                        <option value="Ampara">Ampara</option>
                        <option value="Anuradhapura">Anuradhapura</option>
                        <option value="Badulla">Badulla</option>
                        <option value="Batticaloa">Batticaloa</option>
                        <option value="Colombo">Colombo</option>
                        <option value="Galle">Galle</option>
                        <option value="Gampaha">Gampaha</option>
                        <option value="Hambantota">Hambantota</option>
                        <option value="Jaffna">Jaffna</option>
                        <option value="Kalutara">Kalutara</option>
                        <option value="Northern">Northern</option>
                        <option value="Kandy">Kandy</option>
                        <option value="Kegalle">Kegalle</option>
                        <option value="Kilinochchi">Kilinochchi</option>
                        <option value="Kurunegala">Kurunegala</option>
                        <option value="Mannar">Mannar</option>
                        <option value="Matale">Matale</option>
                        <option value="Matara">Matara</option>
                        <option value="Monaragala">Monaragala</option>
                        <option value="Mullaitivu">Mullaitivu</option>
                        <option value="NuwaraEliya">Nuwara Eliya</option>
                        <option value="Polonnaruwa">Polonnaruwa</option>
                        <option value="Puttalam">Puttalam</option>
                        <option value="Ratnapura">Ratnapura</option>
                        <option value="Trincomalee">Trincomalee</option>
                        <option value="Vavuniya">Vavuniya</option>
                    </select>
                </div>

                <div class="form-group col-lg-3">
                    <div class="text-center"><label for="formGroupPassword"><strong>Password</strong></label></div>
                    <input type="password" class="form-control" id="formGroupPassword" placeholder="Password" name="password">
                </div>
                <div class="form-group col-lg-3">
                    <div class="text-center"><label for="formGroupConfirmPassword"><strong>Confirm Password</strong></label></div>
                    <input type="password" class="form-control" id="formGroupConfirmPassword" placeholder="Password" name="confirmPassword">
            </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group col-lg-3">
                    <div class="text-center"><label for="formGroupMobile"><strong>Mobile-No</strong></label></div>
                    <input type="tel" class="form-control" id="formGroupMobile" placeholder="07XXXXXXXX" name="mobile" required>
                </div>
                <div class="form-group col-lg-3">
                    <div class="text-center"><label for="formGroupTelePhone"><strong>Tel-No</strong></label></div>
                    <input type="tel" class="form-control" id="formGroupTelePhone" placeholder="0XXXXXXXXX" name="phone" required>
                </div>
                <div class="form-group col-lg-3">
                    <div class="text-center">
                        <label for="exampleInputStatus"><strong>Role</strong></label>
                    </div>
                    <select class="form-control" id="inputGroupRole" name="role">
                        <option value="Donor">Donor</option>
                        <option value="Volunteer">Volunteer</option>
                    </select>
                </div>
            </div>
            <input type="hidden" class="form-control" id="formGroupCsrf1"  name="_csrf" value="{{csrfToken}}">
            <input type="hidden" class="form-control" id="formGroupUsername"  name="username" value="username">
            <input type="hidden" class="form-control" id="formGroup_password"  name="_password" value="password">
            <hr>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" name="submit" value="create"
                        onclick="return confirm('Are You Sure ' +
                         'You Want To Register Your Profile..!');">Register</button>
                <a href="/" class="btn btn-danger"
                   onclick="return confirm('Are You Sure ' +
                         'You want to cancel this Process..?');">Cancel</a>
                <hr>
            <a href="/users/signIn" role="button">Already have an account?</a>
            </div>
        </div>
    </form>
</section>